@media screen and (max-width: 600px){
    .grid {
        display: grid;
        height: 100vh;
        width: 100%;
        grid-template-areas:
"a a a"
"b b b"
"c d e"
"f f f";
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-columns:1fr 1fr 1fr;
        grid-gap: 5px;
    }
}