@media screen and (min-width: 600px) {
    .grid {
        display: grid;
        height: 100vh;
        grid-template-areas:
    "a a a"
    "b b c";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        grid-gap: 5px;
        margin: 0;
    }
}