.grid {
        display: grid;
        height: 100vh;
        grid-template-areas:
    "a a a a"
    "b b b f"
    "c d e f";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
    }